
.mainBody{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "title title title"
                         "anime anime play"
                        "anime anime score"
                         "red1 green1 blue1";
    grid-gap: 20px;
    margin: auto;
    height: 100vh;
    width: 100vw;
    background: lightgray;
}

.mainBody div{
    height: 80%;
    width: 80%;
    text-align: center;
    justify-self: center;
    background: lightgray;
}


img {
    max-height: 100%;
    max-width: 100%;
    
}
.title{
    margin-top: auto;
    padding-top: 20px;
    grid-area: title;
    align-self: center;
    justify-self: center;
    font-family: sans-serif;
    color: darkgreen;
    font-size: 35px;
    
}

.anime{
    grid-area: anime;
     
}

nav{
    grid-area: play;
    height: 90%;
    background: green;
    color: aliceblue;
    font-style: oblique;
    align-self: center;
    justify-self: center;
    padding-top:10%;
    border: 2px solid black;
    border-radius: 150px 20px;
}

.score{
    grid-area: score;
    
}

.red1{
    grid-area: red1;
    
}

.red{ 
    border: 2px solid black;
    border-radius: 30px 30px;
}

.green1{
    grid-area: green1;
    
}
.green{ 
    border: 2px solid black;
    border-radius: 30px 30px;
}


.blue1{
    grid-area: blue1;
}
.blue{ 
    border: 2px solid black;
    border-radius: 30px 30px;
}