
.mainBody{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "title title title"
                         "anime anime play"
                        "anime anime score"
                         "red1 green1 blue1";
    grid-gap: 0px;
    margin: auto;
    height: 100vh;
    width: 90vw;
    background: lightgray;
    user-select: none;
    border: 5px solid darkgreen;
    
    
}

@media screen and (max-width:600px){
.mainBody{   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "title title title"
                         "anime anime anime"
                        "anime anime anime"
                         " score score play"
                         "red1 green1 blue1";
    grid-gap: 12px;
    user-select: none;
    }
    
.anime{
    grid-area: anime;
    height: 100%;
    width: 90%;
    background: lightgray;
    user-select: none;
    
} 
    

div{
    height: 100%;
    width: 90%;
    text-align: center;
    justify-self: center;
    background: lightgray;
    user-select: none;
}
    
    nav{
    margin-right: 35px;
    width: 90%;
    grid-area: play;
    justify-self: center; 
    user-select: none;
    text-justify: bottom;
        
    }
    
    div.score {
    grid-area: score;
    height: 50%;
    width: 70%;
    justify-self:bottom;
    margin-top: 20px;
    margin-left: 20px;
    user-select: none;
}
    
}


div{
    height: 80%;
    width: 90%;
    text-align: center;
    justify-self: center;
    background: lightgray;
    user-select: none;
}


img {
    max-height:  100%;
    width: 90%;
    margin-top: 0px;
    user-select: none;
    
}

.title{
    
    grid-area: title;
    align-self: center;
    justify-self: center;
    vertical-align: middle;
    font-family: sans-serif;
    color: darkgreen;
    font-size: 35px;
    border: 5px solid darkgreen;
    user-select: none;
    padding-top:  20px;
    max-height: 60%;
    
}

.anime{
    grid-area: anime;
    
}

nav{
    grid-area: play;
    height: 80%;
    width: 80%;
    background: green;
    color: aliceblue;
    font-style: oblique;
    align-self: center;
    justify-self: center;
    padding-top:10%;
    border: 2px solid black;
    border-radius: 100px 100px;
    cursor: pointer;
    font-size: 29px;
    font-weight: bold;
    margin-right: 40px;
    transition: all 0.3s;
    user-select: none;
}

nav:hover{
    box-shadow: 0px 5px 12px -5px black;   
    transform: scale(1.1);
    user-select: none;
    
}
nav:active{
    box-shadow: 0px 4px 5px black;        
    transform: scale(1) !important;
    user-select: none;
}

div.score {
    grid-area: score;
    height: 50%;
    width: 70%;
    background: green;
    color: aliceblue;
    justify-self:bottom;
    margin-bottom: 0px;
    margin-right: 40px;
    user-select: none;
    
}

.red1{
    grid-area: red1;
    
}

.red{ 
    border: 10px solid black;
    border-radius: 30px 30px;
    cursor: pointer;
    user-select: none;
}

.green1{
    grid-area: green1;
    
}
.green{ 
    border: 10px solid black;
    border-radius: 30px 30px;
    cursor: pointer;
    user-select: none;
}


.blue1{
    grid-area: blue1;
}
.blue{ 
    border: 10px solid black;
    border-radius: 30px 30px;
    cursor: pointer;
    user-select: none;
}